*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.6%; // 1rem = 10px;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

body {
  box-sizing: border-box;
  background: lighten($color: $color-grey-light, $amount: 3);
  padding: 2rem;
  padding-bottom: 8rem;
  overflow-x: hidden;
  
  display: block; 
  position: relative;

  .pages {
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: calc(100vw - 38rem);
    min-height: calc(100vh - 4rem);
  }
  
  .aside {
    grid-column: 1/2;
    background: rgba($color-primary, .04);
    width: 25rem;
    height: calc(100vh - 8rem);

    position: fixed;
    top: 4rem;
    left: 4rem;

    @include respond($bp-largest) {
      left: 2rem;
      top: 2rem;
    }

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .page {
    display: none;
    min-width: 100%; 
    min-height: calc(100vh - 4rem); 

    @include respond($bp-largest) {
      right: 2rem;
      top: 2rem;
    }

    &.visible {
      display: grid;
    }
  }
}