*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.6%; // 1rem = 10px;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

body {
  box-sizing: border-box;
  background: lighten($color: $color-grey-light, $amount: 3);
  padding-bottom: 8rem;
  overflow-x: hidden;
  padding: 2rem;
  
  display: block; 
  position: relative; 

  @include respond($bp-big) {
    padding: 0;
  }

  .header {
    position: absolute;
    top: 4rem;
    right: 4rem;
    width: calc(100vw - 38rem);
    height: 6rem;
    background: rgba($color-primary, .04);
    border-top-right-radius: 1rem;
    @include Outline;

    @include respond($bp-largest) {
      width: calc(100vw - 31rem);
      right: 2rem;
      top: 2rem;
    }

    @include respond($bp-big) {
      top: 1rem;
      right: 1rem;
      width: calc(100vw - 8rem);
    }
  }

  .pages {
    position: absolute;
    right: 4rem;
    top: 12rem;
    width: calc(100vw - 38rem);
    padding-bottom: 2rem;

    @include respond($bp-largest) {
      width: calc(100vw - 31rem);
      right: 2rem;
      top: 10rem;
    }

    @include respond($bp-big) {
      width: calc(100vw - 8rem);
      top: 9rem;
      right: 1rem;
    }
  } 

  .aside {
    grid-column: 1/2;
    background: rgba($color-primary, .04);
    width: 25rem;
    height: calc(100vh - 8rem);
    @include Outline;
    padding: 0;

    position: fixed;
    top: 4rem;
    left: 4rem;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;

    @include respond($bp-largest) {
      left: 2rem;
      top: 2rem;
      height: calc(100vh - 4rem);
    }

    @include respond($bp-big) {
      top: 1rem;
      left: -19rem;
      height: calc(100vh - 2rem);
    }
  }

  .page {
    display: none;
    min-width: 100%; 
    min-height: calc(100vh - 4rem); 

    @include respond($bp-largest) {
      right: 2rem;
      top: 2rem;
    }

    &.visible {
      display: grid;
    }
  }
}