*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.6%; // 1rem = 10px;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

body {
  box-sizing: border-box;
  background: $color-white;
  padding: 2rem;
  
  .pageWrapper {
    display: block;
    width: 90%;
    height: 90%;
    
    @include AbosoluteCenter;

    border-radius: 10px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 1fr;
  }
  
  .aside, .pages {
    grid-row: 1/2;
  }

  
  .aside {
    grid-column: 1/2;
    background: rgba($color-primary, .03);
  }

  .page {
    display: none;
    min-width: 100%; 
    min-height: 100%; 
    grid-column: 2/3;

    &.visible {
      display: block;
    }
  }
}