section.page.about#about  
  .info
    h1 Hiper Mercado Kero
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos error doloremque, pariatur unde a natus, adipisci cupiditate 
      | fugiat quo corporis nulla ad quia ipsa aperiam? Architecto atque sed vitae, inventore fuga blanditiis odio sint ducimus 
      |recusandae dignissimos, vero autem ut repudiandae! Minima non quasi, nam asperiores a tenetur alias cum!
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos error doloremque, pariatur unde a natus, adipisci cupiditate 
      | fugiat quo corporis nulla ad quia ipsa aperiam? Architecto atque sed vitae, inventore fuga blanditiis odio sint ducimus 
      |recusandae dignissimos, vero autem ut repudiandae! Minima non quasi, nam asperiores a tenetur alias cum!
    .details  
      .detail
        h1 Principios
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, impedit molestias? Obcaecati?
      .detail
        h1 Missão  
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, impedit molestias? Obcaecati?
      .detail
        h1 Valores  
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, impedit molestias? Obcaecati?
      .detail
        h1 Principio  
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque, impedit molestias? Obcaecati?
    ul
      li Telefone: 92343534 / 912434534
      li E-mail: geral@kero.co.ao
      li Localização: Luanda Cacuaco, Sequele
    ul
      li Facebook
      li Instagram
      li Twitter
  .contact-box
    h1 Deixe-nos uma mensagen
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, possimus!
    form.form
      input(type='text' placeholder='nome')
      input(type='number' placeholder='telefone')
      textarea
      button(type='button') Enviar
    h1 Seje nosso cliente
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam quod rem maxime.
    form.form
      input(type='text' placeholder='nome')
      input(type='email' placeholder='email')
      input(type='number' placeholder='telefone')
      input(type='password' placeholder='senha')
      input(type='password' placeholder='confirma senha')
      button(type='button') Quero ser um cliente 