section.page.carrinho#carrinho  
  .top
    .info
      p.info__items 15 Items
      p.info__total Total: 1200kz 
    .action 
      h1 Faça o Checkout Aqui (Todos ou selecionados)
      select
        option(value='selected') Produtos Selecionados
        option(value='all') Todos Productos
      button Checkout
  .allproducts