section.page.cart#cart  
  .top
    .info
      p.info__items 0 Produtos
      p.info__total Total: kz
    .action 
      h1 Faça o Checkout Aqui (Todos ou selecionados)
      select.form-element
        option(value='selected') Produtos Selecionados
        option(value='all') Todos Productos
      button.btn Checkout
  .allproducts