section.page.dashboard#dashboard   

  // - User Add Review Section
  .dashboard__user-add-review 
    h1.heading-1 Adicionar um testemunho
    p.dashboard__user-review-text.text O seu testemunho ainda não está visivel, mas logo os administradores irão aprova-lo 
    br
    form.form__review 
      textarea.form-element.saying(placeholder='O que tens a dizer sobre os nosso serviços.')
      input.form-element.rating(type='number' max='5' min='0' step='0.1' placeholder='No escala de 1 - 5, quanto nos das?')
      button(type='submit') Criar testemunho

  // - User change setting (name, email)
  .dashboard__details
    h1.heading-1 Muda os seus dados primordias
    br
    form.form__user-details 
      input.form-element(type='text')#name
      input.form-element(type='email')#email
      input.form-element(type='number')#phone
      .user
        .img
        label(for='file') Mudar imagen
        input(type='file')#file
      button(type='submit') Salvar

  // - User change password ONLY
  .dashboard__user-password
    h1.heading-1 Troque a sua senha
    br 
    form.form__user-password  
      input.form-element(type='password' placeholder='A sua senha atual')#current-password
      input.form-element(type='password' placeholder='Nova senha')#new-password
      input.form-element(type='password' placeholder='Confimar a sua senha')#confirm-password
      button(type='submit') Mudar Senha

  //- Delete My Acount
  .dashboard__location-information 
    h1.heading-1 Minha Localização
    form
      select#location-block.form-element
        option(value="1") Bloco 1
        option(value="2") Bloco 2
        option(value="3") Bloco 3
        option(value="4") Bloco 4
        option(value="5") Bloco 5
        option(value="6") Bloco 6
        option(value="7") Bloco 7
        option(value="8") Bloco 8
        option(value="9") Bloco 9
        option(value="10") Bloco 10
        option(value="11") Bloco 11
        option(value="12") Bloco 12
        option(value="13") Bloco 13 (Predios Rosa)
      input#location-building.form-element(type="number" step="1" placeholder="Predio")
      select#location-entrace.form-element
        option(value="A") Entrada A
        option(value="B") Entrada B
        option(value="C") Entrada C 
      input#location-apartment.form-element(type="number" placeholder="Apartamento Ex: 001")
      button(type='submit') Salvar



