section.page.home#home  
  .banner
  .info
    h1 Faça compra no conforto do ser lar
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero molestias nihil. Lorem ipsum dolor sit amet consectetur, 
      | adipisicing elit. Incidunt ipsam fugit explicabo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti 
      | sapiente aut quibusdam voluptatibus facere repudiandae laudantium ea excepturi numquam nobis!
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero molestias nihil. Lorem ipsum dolor sit amet consectetur, 
      |adipisicing elit. Incidunt ipsam fugit explicabo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti 
      | sapiente aut quibusdam voluptatibus facere repudiandae laudantium ea excepturi numquam nobis!
  .cta
    button: a(href='#products') Vejo todos os nosso produtos 
    button: a(href='#products') Cria já a sua conta 