section.page.home#home  
  .banner
    .banner__slider
      .banner__item.banner__item--1
        h1 Item 1
      .banner__item.banner__item--2
        h1 Item 2
      .banner__item.banner__item--3
        h1 Item 3
  .info
    h1.info__title Faça compras de TUDO! No conforto do ser lar
    p.info__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero molestias nihil. Lorem ipsum dolor sit amet 
      | consectetur, adipisicing elit. Incidunt ipsam fugit explicabo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      | Corrupti  
    p.info__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos vero molestias nihil. Lorem ipsum dolor sit amet 
      | consectetur,  adipisicing elit. Incidunt ipsam fugit explicabo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      | Corrupti 
  .cta
    h1.cta__title.cta__title--main Proccesso
    h2.cta__title 1. Simples
    p.cta__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis modi laudantium. Adipisicing elit. 
      | Incidunt ipsam fugit explicabo.  
    h2.cta__title 2. Rapido
    p.cta__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis modi laudantium. Adipisicing elit. 
      | Incidunt.
    h2.cta__title 3. Seguro
    p.cta__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perspiciatis modi laudantium. Adipisicing elit. 
      | Incidunt ipsam fugit explicabo. 
    .cta__buttons
      button.btn: a(href='#products') Vejo todos os nosso produtos 
      button.btn: a(href='#about') Cria já a sua conta 