section.page.products#products  
  .products__categories
    .category-item.category-item--active(data-category='eletronicos') 
      .category-item__icon
      .category-item__name Eletronicos 
    .category-item(data-category='alimentação') 
      .category-item__icon
      .category-item__name Alimentação
    .category-item(data-category='materias') 
      .category-item__icon
      .category-item__name Materias
    .category-item(data-category='vestuários') 
      .category-item__icon
      .category-item__name Vestuários
  .products__sub-categories
    h1 Mais populario
    .sub-categories-products  
      .product-card
        img.product-card__img
        p.product-card__name Arroz
        p.product-card__summary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum est dicta pariatur.
        .product-card__footer
          span.product-card__price 1200 KZ
          span.product-card__cart Adicionar no carinho
      .product-card
        img.product-card__img
        p.product-card__name Peixe
        p.product-card__summary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum est dicta pariatur.
        .product-card__footer
          span.product-card__price 1200 KZ
          span.product-card__cart Adicionar no carinho
      .product-card
        img.product-card__img
        p.product-card__name Panela
        p.product-card__summary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum est dicta pariatur.
        .product-card__footer
          span.product-card__price 1200 KZ
          span.product-card__cart Adicionar no carinho
  .products__products
    .products__products__header
      h1 Produtos
    .all       
  .products__reviews
    .products__reviews__header 
      h1 Testemunhos
    .all 