section.page.products#products  
  .products__categories
    .category-item.category-item--active 
      .category-item__icon
      .category-item__name Alimentaios
    .category-item 
      .category-item__icon
      .category-item__name Vestuarios
    .category-item 
      .category-item__icon
      .category-item__name Materias
    .category-item 
      .category-item__icon
      .category-item__name Imobolarias
  .products__sub-categories
    h1 Mais populario
    .sub-categories-products  
      .product-card
        img.product-card__img
        p.product-card__name Arroz
        p.product-card__summary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum est dicta pariatur.
        .product-card__footer
          span.product-card__price 1200 KZ
          span.product-card__cart Adicionar no carinho
      .product-card
        img.product-card__img
        p.product-card__name Peixe
        p.product-card__summary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum est dicta pariatur.
        .product-card__footer
          span.product-card__price 1200 KZ
          span.product-card__cart Adicionar no carinho
      .product-card
        img.product-card__img
        p.product-card__name Panela
        p.product-card__summary Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum est dicta pariatur.
        .product-card__footer
          span.product-card__price 1200 KZ
          span.product-card__cart Adicionar no carinho
  .products__products
    .products__products__header
      h1 Produtos
    .all     
      .product-item
        img.product-item__img
        p.product-item__name Arroz
        p.product-item__price 1200 KZ
        p.product-item__cart Adcionar no carrinho
      .product-item
        img.product-item__img
        p.product-item__name Arroz
        p.product-item__price 1200 KZ
        p.product-item__cart Adcionar no carrinho
      .product-item
        img.product-item__img
        p.product-item__name Arroz
        p.product-item__price 1200 KZ
        p.product-item__cart Adcionar no carrinho
      .product-item
        img.product-item__img
        p.product-item__name Arroz
        p.product-item__price 1200 KZ
        p.product-item__cart Adcionar no carrinho
      .product-item
        img.product-item__img
        p.product-item__name Arroz
        p.product-item__price 1200 KZ
        p.product-item__cart Adcionar no carrinho
      .product-item
        img.product-item__img
        p.product-item__name Arroz
        p.product-item__price 1200 KZ
        p.product-item__cart Adcionar no carrinho
  .products__reviews
    .products__reviews__header 
      h1 Testemunhos
    .review-item
      img.review-item__img
      span.review-item__name James
      .review-item__rating
      p.review-item__summary Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates harum modi dolor 
        | quaerat, eaque dolorem magnam laborum. Amet, magni eveniet.
    .review-item
      img.review-item__img
      span.review-item__name James
      .review-item__rating
      p.review-item__summary Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates harum modi dolor 
        | quaerat, eaque dolorem magnam laborum. Amet, magni eveniet. 
    .review-item
      img.review-item__img
      span.review-item__name James
      .review-item__rating
      p.review-item__summary Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates harum modi dolor 
        | quaerat, eaque dolorem magnam laborum. Amet, magni eveniet.
    .review-item
      img.review-item__img
      span.review-item__name James
      .review-item__rating
      p.review-item__summary Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates harum modi dolor 
        | quaerat, eaque dolorem magnam laborum. Amet, magni eveniet.
    .review-item
      img.review-item__img
      span.review-item__name James
      .review-item__rating
      p.review-item__summary Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates harum modi dolor 
        | quaerat, eaque dolorem magnam laborum. Amet, magni eveniet.