@mixin AbosoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin PositionAbsolute($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin Shadow($top, $left, $spread, $blur, $opac) {
  box-shadow: $top $left $spread $blur rgba($color-black, $opac);
}

@mixin ProductContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 24.9rem));
  grid-template-rows: repeat(auto-fit, minmax(5rem, 30.5rem));  
  grid-gap: 1rem;
  // justify-content: space-between;

  @include respond($bp-small) {
    grid-template-columns: 1fr;
  }
}

@mixin GridCenter {
  display: grid;
  justify-content: center;
  align-content: center;
}

@mixin MR($length) {
  &:not(:last-child) {
    margin-right: $length;
  }
}

@mixin Outline {
  // border-radius: 1rem;
  // border: 1px solid $color-grey;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba($color-dark, .15);
}

@mixin Link {

  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

@mixin Transition { transition: All ease-in-out .25s };

@mixin HoverActive {
  @include Transition;

  &:hover {
    transform: translateY(-2px);
    @include Shadow(0, 0, .4rem, .2rem, .3);
    cursor: pointer;
  }

  &:active {
    transform: translateY(1px);
    @include Shadow(0, 0, .2rem, .1rem, .4);
  }
}

@mixin BGLinear {
  background: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark,
  );
}

@mixin respond($width) {
  @media only screen and (max-width: $width) { @content };
}