// COLORS
$color-primary: #298143;
$color-primary-light: #3aa75b;
$color-primary-dark: #20773a;

$color-secondary: #f1e31c;
$color-secondary-light: #c5b804;
$color-secondary-dark: #c5b804;

$color-grey: #ccc;
$color-grey-light: #f1f1f1;
$color-grey-dark: #555;

$color-dark: #333;

$color-black: #000;
$color-white: #fff;

// FONTS