<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hipermercado Kero
  body
    include includes/aside
    include includes/header
    .pages
      include pages/home
      include pages/products
      include pages/cart
      include pages/dashboard
      include pages/about
      include pages/error