%carttitle {
  font-size: 2rem;
  color: $color-dark;
  font-weight: bold;

  @include respond($bp-big) {
    font-size: 1.5rem;
  }
}

.cart {
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-gap: 2rem;

  .top, .product-card {
    @include Outline;
  }

  .allproducts {
    @include ProductContainer;
  } 

  .empty {
    @include GridCenter;
    color: $color-black;
    text-align: center;
    grid-column: 1/-1;

    h1 {
      font-size: 2rem;
    }

    a {
      @include Link;
      display: inline-block;
      padding: .5rem;
      font-weight: bold;
      font-size: 1rem;
      text-align: center; 
    }
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include respond($bp-small) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }

    .info {
      display: grid;
      align-content: center;
      
      &__items, &__total {
        @extend %carttitle;
      }
    }

    .action {
      
      h1 {
        @extend %carttitle;
      }

      select {
        max-width: 22rem;
        display: inline;
      }

      button {
        display: inline-block;
        text-align: left;
        margin-left: 1rem;
        width: auto;
      }
    }
  }
}