%full {

  @include respond($bp-small) {
    grid-column: 1/3 !important;
  }
}

.home {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 38rem max-content;
  grid-gap: 2rem; 

  @include respond($bp-smallest) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
  }

  .banner, .info, .cta { 
    @include Outline; 
    
    @include respond($bp-smallest) {
      grid-column: 1/2;
    }

    @extend %full;
  }

  .banner {
    grid-area: 1/1/2/3;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    z-index: -1;

    @include Outline;

    &__slider {
      display: grid;
      grid-template-columns: repeat(3, 100%);
      grid-template-rows: 1fr;

      width: 100%;
      height: 100%;

      @include PositionAbsolute(0,0);
      transition: All ease-in-out 1s; 

      & * {
        @include Transition;
      }
    }

    &__item {
      width: 100%;
      height: 100%;
      position: relative;

      &--1 { background: green }
      &--2 { background: blue }
      &--3 { background: pink }
    }
  }

  .info, .cta {
    grid-row: 2/3;
  }

  .info {
    grid-column: 1/2;
    background: $color-white;
    padding: 1rem;

    @include respond($bp-smallest) {
      grid-row: 2/3;
    }

    &__title {
      font-size: 3.5rem;
      color: $color-dark;
      border-bottom: 2px solid $color-grey-light;
      padding-bottom: 1rem;
      margin-bottom: 2rem;
    }    

    &__text {
      font-size: 1.75rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .cta {
    grid-column: 2/3;
    background: $color-white;
    padding: 1rem;
    position: relative;

    @include respond($bp-smallest) {
      grid-row: 3/4;
      grid-column: 1/2;
    }

    &__title {
      color: $color-dark;
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: .5rem;

      &--main {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 2rem;
        padding-bottom: 1rem;

        border-bottom: 2px solid $color-grey-light;
      }
    }

    &__text {
      margin-bottom: 1rem;
      padding-left: 2.2rem;
      font-size: 1.2rem;
    }

    &__buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      @include respond($bp-small) {
        position: relative;
      }
    }

    button {
      margin: 1rem .5rem;
      display: inline-block;

      a {
        @include Link;
      }
    }
  }
}