.btn {
  width: 20rem;
  background: $color-dark;
  color: $color-white;
  padding: .5rem 1rem;
  border: none;

  &.disabled {
    background: grey;

    &:hover {
      background: grey;
      cursor: context-menu;
    }
  }

  @include Transition;

  &:hover {
    background: $color-primary;
    cursor: pointer;
  }
}