.product-card {
  @include Outline;
  padding: 1rem 2rem;
  background: lighten($color: $color-grey-light, $amount: 5);
  position: relative;
  font-weight: bold;

  &--selected {
    border: 2px solid $color-primary;
  }

  &__img {
    display: block;
    margin: 0 auto 1rem auto;
    height: 19rem;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  &__name {
    color: $color-primary;
    font-size: 1.5rem;
  }

  &__summary {
    padding: 1rem 0;
    height: 4.3rem;
    color: $color-dark;
  }

  &__footer {
    display: flex;
  }

  &__price {
    color: $color-dark;
    margin-right: auto;
    font-size: 1.5rem;
  } 

  &__cart {
    color: $color-primary;
    font-weight: bold;
    padding: .2rem .5rem;

    @include Transition;

    &:hover {
      cursor: pointer;
      background: $color-primary;
      color: $color-white;
      border-radius: 2px;
    }

    &--icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: $color-primary;
    }
  }

  &__settings {
    @include PositionAbsolute(15.5rem, auto);
    @include GridCenter;
    @include Transition;
    right: 1.5rem;
    background: $color-red;
    fill: $color-white;
    border-radius: 2px;
    font-weight: bold;
    padding: .1rem;
    opacity: 0;
    width: 2.5rem;
    height: 4rem;

    &:hover {
      cursor: pointer;
      background: darken($color: $color-red, $amount: 3);
    }
  }

  &:hover &__settings {
    opacity: 1;
  } 

  @include respond($bp-small) {
    padding: 1rem;
  }
}

.solo-product {
  max-width: 520px;
  width: 98%;
  margin: 5rem auto;
  background: $color-grey-light-1;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba($color-dark, .5);

  &__img {
    width: 100%;
  }

  &__name {
    font-size: 2.5rem;
    color: $color-primary;
  }

  &__category {
    font-size: 1.5rem;
    color: $color-grey-dark;
    font-weight: bold;
    text-transform: capitalize;
  }

  &__summary {
    color: $color-dark;
    font-size: 2rem;
  }

  &  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }

  &__price {
    color: $color-dark;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__cart {
    background: $color-primary;
    color: $color-grey-light;
    font-size: 1.8rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    @include Transition;

    &:hover {
      background: $color-primary-light;
    }
  }
}