.logo {
  font-size: 4rem;
  color: $color-dark;
  padding: 3rem;
}

.aside {
  position: relative;

  .toggle-btn { 
    width: 3rem;
    height: 3rem;
    fill: $color-dark;

    display: none;

    @include PositionAbsolute(4rem, 80%);

    @include respond($bp-big) {
      display: block;
    }
  }
}


.nav {

  &__list {
    list-style: none;
  }  

  &__link {
    padding: 1rem;
    border-left: 2px solid transparent;
    display: block;
    color: $color-dark;
    text-decoration: none;
    font-size: 1.5rem; 

    display: flex;

    @include Transition;

    &--active {
      border-left: 2px solid $color-primary;
      color: $color-primary;
      background: rgba($color-primary, .04);

      svg {
        fill: $color-primary;
      }
    }

    &:hover {
      color: $color-primary;

      svg {
        fill: $color-primary;
      }
    }
  }

  &__title {
    margin-right: auto;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-dark;

    @include Transition;
    
    @include respond($bp-big) {
      margin-right: 1.5rem;
    }
  }
}