.logo {
  font-size: 4rem;
  color: $color-dark;
  padding: 3rem;
}

.aside {
  position: relative;

  .toggle-btn {
    width: 4rem;
    height: 4rem;
    background: $color-dark;

    @include PositionAbsolute(4rem, 80%);
    display: none;

    @include respond($bp-big) {
      display: block;
    }
  }
}


.nav {

  &__list {
    list-style: none;
  }  

  &__link {
    padding: 1rem;
    border-left: 2px solid transparent;
    display: block;
    color: $color-dark;
    text-decoration: none;
    font-size: 1.5rem;

    @include Transition;

    &--active {
      border-left: 2px solid $color-primary;
      color: $color-primary;
      background: rgba($color-primary, .04);
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}