@mixin icon {
  display: block;
  padding: .3rem .3rem;
  fill: $color-dark;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;

  @include GridCenter;
  @include Transition; 

  &:hover {
    cursor: pointer;
  }

  @include respond($bp-tiny) {
    margin-right: 0;
  }
} 

.header {
  @include GridCenter; 
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  position: relative;

  h1 {
    color: $color-dark;
  }

  .main {
    @include GridCenter;
    grid-template-columns: 1fr 1fr;
    
    justify-self: start;
    align-items: center;
  }

  .user, .normal {
    justify-self: end;
    position: relative;

    @include Flex;
  }
  
  .checkout {
    position: relative;

    &__icon { @include icon }

    &__menu { 
      list-style: none;

      position: absolute;
      width: 20rem;
      right: 0rem;
      top: 4rem;
      opacity: 0;
      z-index: -111;
      display: none;

      border-radius: .2rem;
      box-shadow: 0 0 1rem rgba($color-dark, .35);
      background: $color-white;
      color: $color-dark;

      @include Transition;

      &.visible {
        display: block;
        z-index: 1000;
        opacity: 1;
        top: 2rem;
      }
      
      &__item {
        padding: .5rem;
        font-weight: bold;
        display: block;
        
        @include Transition;
  
        &:hover {
          background: $color-dark;
          color: $color-white;
          cursor: pointer;
        } 
      }
    }


  }

  .user {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;

    &__img {
      width: 5rem;
      height: 5rem;
      margin: .5rem;
      border-radius: 100%;
    }

    &__name {
      font-weight: bold;
      color: $color-dark;

      @include respond($bp-tiny) {
        display: none;
      }
    }

    &__icon {
      @include icon;
    }

    &__menu { 
      list-style: none;

      display: none;
      position: absolute;
      right: 0;
      width: 10rem;
      bottom: -6rem;
      z-index: 100;
      opacity: 0;

      border-radius: .2rem;
      box-shadow: 0 0 1rem rgba($color-dark, .35);
      background: $color-white;
      color: $color-dark;

      @include Transition;

      &.visible {
        display: block;
        opacity: 1;
        bottom: -4.5rem;
      }

      &__item {
        padding: .5rem;
        font-weight: bold;
        display: block;
        
        @include Transition;

        @include Link; 

        &:hover {
          background: $color-dark;
          color: $color-white;
          cursor: pointer;
        }
      }
    }
  }

  .normal {
    
    button {
      padding: .3rem .6rem;
      border: none;
      font-weight: bold;
      color: $color-dark;
      cursor: pointer;

      a {
        @include Link;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  } 
}