aside.aside 
  .logo Kero
  .toggle-btn
  nav.nav 
    ul.nav__list
      each item in [{name:'Início',link:'home'},{name:'Produtos',link:'products'},{name:'Carrinho',link:'carrinho'},{name:'Sobre',link:'about'}]
        li.nav__item
          a(href=`#${item.link}`).nav__link
            svg.nav__icon 
              use(xlink:href='') 
            span= item.name